.card-component-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

.card-component {
    background: #fff;
    width: 280px;
    height: 360px;
}

.primary {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.secondary {
    font-size: 15px;
    text-align: center;
}